[submodule "lv_100ask_demos"]
	path = lv_100ask_demos
	url = https://gitee.com/weidongshan/lv_100ask_demos.git
[submodule "lv_100ask_modules"]
	path = lv_100ask_modules
	url = https://gitee.com/weidongshan/lv_100ask_modules.git
[submodule "lv_demos"]
	path = lv_demos
	url = https://gitee.com/weidongshan/lv_demos.git
[submodule "lvgl"]
	path = lvgl
	branch = release/v8.1
	url = https://gitee.com/weidongshan/lvgl.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://gitee.com/weidongshan/lv_drivers.git
